<template lang="html">
  <div class="chat-starter alion_form">
      <label for="name">Your name:</label>
      <input type="text" v-model="user_name" name="name">
      <label for="question">Your message:</label>
      <textarea v-model="question" maxlength=3000 name="question" @keyup.enter="sendFirstMessage"></textarea>
      <button class="btn btn-primary" @click="sendFirstMessage">Send</button>
      <div v-show="showError" id="chat-error"> {{ errorText }} </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            question: '',
            user_name: '',
            errorText: '',
            showError: false
        }
    },
    methods: {
        sendFirstMessage() {

            this.showError = false;

            if(this.question.trim() !== "" && this.user_name.trim() !== "") {
                this.$emit('firstmessagesent', {
                    question: this.question,
                    user_name: this.user_name
                });

                this.question = '';
                this.user_name = '';

            } else {
                this.errorText = "Name and message must be supplied";
                this.showError = true;
            }
        }
    }
}
</script>

<style lang="css">
.chat-composer {
    display: block;
}

.chat-starter input {
    border-radius: 3px;
    outline: none;
}

.chat-starter textarea {
    height: 100px;
    width: 100%;
    border-radius: 3px;
    outline: none;
}
/*.chat-composer input {*/
    /*flex: 1 auto;*/
/*}*/
.chat-starter button {
    /*display: block;*/
    border-radius: 3px;
}
</style>