<template lang="html">
  <div class="chat-composer alion_form">
      <textarea v-model="messageText" maxlength=300 @keyup.enter="sendMessage"></textarea>
      <button class="btn btn-primary" @click="sendMessage">Send</button>
      <button v-if="loggedIn" id="close_conversation" @click="closeConversation" class="btn btn-primary">Finalise Conversation</button>
      <div v-show="showError" id="chat-error"> {{ errorText }} </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            messageText: '',
            errorText: '',
            showError: false
        }
    },
    props: ['loggedIn'],
    methods: {
        sendMessage() {
            this.showError = false;
            if(this.messageText.trim() !== "") {
                this.$emit('messagesent', {
                    message: this.messageText
                });
            } else {
                this.errorText = "Message body must not be empty.";
                this.showError = true;
            }
            this.messageText = '';
        },
        closeConversation () {

            $(".loader-container-2").fadeIn(500);

            $.ajax({
                type: "POST",
                url: "/close_conversation",
                data: {conversationID: $('meta[name="conversation-id"]').attr('content')},
                success: function (data) {

                    $(".loader-container-2").fadeOut(500);
//                    var win = window.open("http://alion.app/live_chat", "New");
//                    win.location.reload();
                    window.close();
                },
                error: function (data) {
                    var ajaxError = JSON.parse(data.responseText);
                    alert(ajaxError.error);
                    // $('#table_error').text(ajaxError.error).fadeIn(1000);
                    loader.fadeOut(500);
                }
            });
        }
    }
}
</script>

<style lang="css">
.chat-composer {
    /*display: block;*/
    /*position: sticky;*/
    /*bottom: 50px;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100px;*/
}

.chat-composer input {
    border-radius: 3px;
    outline: none;
}

.chat-composer textarea {
    height: 100px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    /*padding: 0;*/
}
/*.chat-composer input {*/
    /*flex: 1 auto;*/
/*}*/
.chat-composer button {
    /*display: block;*/
    border-radius: 3px;
}
</style>