<template lang="html">
  <div class="chat-message">
    <div style=" font-size: smaller; font-style: italic;">{{ message.date }}</div>
    <p><span style="font-weight: bold;">{{ message.user }}:</span> {{ message.message }}</p>

  </div>
</template>

<script>
    export default {
        props: ['message']
    }
</script>

<style lang="css">
    .chat-message {
        padding: 1rem;
    }
    .chat-message > p {
        margin-bottom: .5rem;
    }
</style>