<template lang="html">
    <div class="invoice-table">
        <table class="invoice_table">

            <tr class="invoice_header">
                <th>Name</th>
                <th>Monthly</th>
                <th>Term</th>
                <th>Total</th>
                <!--<th style="width:30px;"></th>-->
            </tr>

            <tr is="invoice-item" v-for="item in items" :item="item" v-on:addonremoved="removeAddOn"></tr>

            <tr class="total_row">
                <td></td>
                <td></td>
                <td class="total_label">TOTAL:</td>
                <td>${{ invoiceTotal }}</td>
                <!--<td></td>-->
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    props: ['items', 'invoiceTotal'],
    methods: {
        removeAddOn(data) {
            this.$emit('addonremoved', {
                subscriptionId: data.subscriptionId,
                productName: data.productName
            });
        }
    }
}
</script>

<style lang="css">

</style>
