<template lang="html">
    <tr>
        <td>{{ item.name }}</td>
        <td>${{ item.monthly_rate }}</td>
        <td>{{ item.term_months }} months</td>
        <td>${{ item.term_months * item.monthly_rate }}
            <span v-show="item.product_type === 'Addon'">
                <a href="javascript:void(0)">
                    <i class="invoice_item_delete fa fa-trash" aria-hidden="true" @click="removeAddOn(item.subscription_id, item.name)"></i>
                </a>

            </span>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['item'],
        methods: {
            removeAddOn(subscriptionId, productName) {
                this.$emit('addonremoved', {
                    subscriptionId: subscriptionId,
                    productName: productName
                });
            }
        }
    }
</script>

<style lang="css">

</style>