
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
//$brand-primary: #3097D1;
$brand-primary: #5a69a6;
$brand-info: #9aa64f;
$brand-success: #475382;
$brand-warning: #a64f9a;
$brand-danger: #a04f78;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;




// Custom
$primary-1: #475382;
//$primary-2: #6c4b9c;
$primary-2: #707ca4;
$primary-3: #96a77d;
$primary-4: #9466c0;

//$title-text-color-1: #7d7d7d;
//$title-text-color-1: #a64f9a;
$title-text-color-1: #711364;
$title-text-color-2: #9aa64f;

//$primary-button-color: #224c60;
//$primary-button-color: #5866a3;
$primary-button-color: #475382;

//$main-element-color: #0a2748;
$main-element-color: #5a69a6;

$prefooter-background: $main-element-color;
$page-header-background: $main-element-color;
$footer-background: $main-element-color;
$floating-menu-background: $main-element-color;
//$page-header-background: #5866a3;
//$page-header-background: #4c4c4c;
$prefooter-background: rgba(9, 8, 19, 0.38);

$header-height: 65px;
$footer-height: 40px;

$floating-menu-height: 40px;

$packages-lighter: $main-element-color;
$packages-darker: $primary-button-color;
