.pics {
  height:  232px;
  width:   232px;
  padding: 0;
  margin:  0;
}

.pics img {
  padding: 15px;
  border:  1px solid #ccc;
  background-color: #eee;
  width:  200px;
  height: 200px;
  top:  0;
  left: 0
}

.cycle-slideshow {
  width: 100%;
  height: 300px;
  overflow:hidden;
}
.cycle-slideshow img {
  width: 100%;
  height: auto;
}

.cycle2slider {
  display:none;
}

/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {
  .cycle2slider {
    display:block;
    /*demo 1 slider theme*/
    //margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  }
}
