
@import "variables";

.contact_form {
  background-color: transparent;
}

.contact_form input, .contact_form textarea {
  padding: 7px;
  border: 1px solid #E5E5E5;
  //width: 300px;
  width: 100%;
  color: #999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.contact_form input:focus,
.contact_form textarea:focus {
    outline:none;
}

textarea {
  //width: 300px;
  height: 150px;
  //max-width: 400px;
  //line-height: 18px;
}

.contact_form input:hover, .contact_form textarea:hover,
.contact_form input:focus, .contact_form textarea:focus {
  border: 1px solid #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}

.contact_form label {
  margin-left: 10px;
  color: #999999;
}

/* ===========================
   ====== Submit Button ======
   =========================== */
button[type="submit"],
input.send-email {
  width: 100px;
  height: 40px;
  background-color: $primary-button-color;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.no-border {
  border: none;
}

@media only screen and (max-width: 414px) {
  .contact_form input, .contact_form textarea {
    width: 100%;
  }

}

@media only screen and (min-width: 320px) {
  .recapture-width {
    transform:scale(0.88);
    -webkit-transform:scale(0.88);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

@media only screen and (min-width: 375px) {
  .recapture-width {
    transform:scale(1.04);
    -webkit-transform:scale(1.04);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

@media only screen and (min-width: 414px) {
  .recapture-width {
    //transform:scale(1.16);
    //-webkit-transform:scale(1.16);
    transform:scale(1);
    -webkit-transform:scale(1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

@media only screen and (min-width: 568px) {
.recapture-width {
    transform:scale(1);
    -webkit-transform:scale(1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

//IPad Portrait
@media only screen and (min-width: 768px) {
  .recapture-width {
    transform:scale(0.73);
    -webkit-transform:scale(0.73);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

@media only screen and (min-width: 920px) {
  .recapture-width {
    transform:scale(0.974);
    -webkit-transform:scale(0.974);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .recapture-width {
    transform:scale(0.97);
    -webkit-transform:scale(0.97);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}



html {
  position: relative;
  min-height: 100%;
}
