@import "variables";

.alion_form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #999999;
  font-size: 0.9em;
}
.comments_class {
  position: absolute;
  top: 0;
  left: 999em;
}

.alion_form input[type="radio"],
.alion_form input[type="radio"]:hover,
.alion_form input[type="radio"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 20%;
  //margin-top: 0;
}

.alion_form input[type="checkbox"],
.alion_form input[type="checkbox"]:hover,
.alion_form input[type="checkbox"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
}

.alion_form input,
.alion_form select,
.bootstrap-tagsinput,
.alion_form textarea {
  padding: 7px;
  border: 1px solid #E5E5E5;
  width: 100%;
  color: #999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-border-radius: 3px  !important;
  -moz-border-radius: 3px  !important;
  border-radius: 3px  !important;
  margin-bottom: 10px;
}

.alion_form input:hover, .alion_form input:focus,
.alion_form textarea:hover, .alion_form textarea:focus,
.alion_form select:hover, .alion_form select:focus {
  border: 1px solid #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}
.alion_form button.btn-primary {
  background: $primary-button-color;
}

.alion_form input:focus,
.alion_form textarea:focus,
.alion_form select:focus {
  outline:none;
}

.alion_form input[type="button"],
.alion_form input[type="submit"] {
  width: 100px;
  height: 40px;
  background-color: $primary-button-color;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.browse-button {
  color: white;
  background-color: $primary-button-color;
  border-radius: 3px;
}

.alion_tags {
  font-weight: normal !important;
  font-size: 90% !important;
  width: 100% !important;
  background-color: $primary-button-color;
  padding: 0 5px;
  border-radius: 3px;
}

.bootstrap-tagsinput {
  line-height: 24px !important;
  border: 1px solid #E5E5E5 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px !important;
}

.bootstrap-tagsinput:hover, .bootstrap-tagsinput:focus {
  border: 1px solid #C9C9C9 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px !important;
}

.error_box {
  border: 1px solid darkred !important;
}

.form-group.required label:after {
  content:"*";
  color:darkred;
}

//@media only screen and (min-width: 320px) {
//
//  .  {
//    transform:scale(0.97);
//    -webkit-transform:scale(0.97);
//    transform-origin:0 0;
//    -webkit-transform-origin:0 0;
//  }
//}
//
//@media only screen and (min-width: 375px) {
//
//  .recapture-width {
//    transform:scale(1.14);
//    -webkit-transform:scale(1.14);
//    transform-origin:0 0;
//    -webkit-transform-origin:0 0;
//  }
//}
//
//@media only screen and (min-width: 414px) {
//
//  .recapture-width {
//    transform:scale(1.26);
//    -webkit-transform:scale(1.26);
//    transform-origin:0 0;
//    -webkit-transform-origin:0 0;
//  }
//}
//
//@media only screen and (min-width: 568px) {
//
//  .recapture-width {
//    transform:scale(1);
//    -webkit-transform:scale(1);
//    transform-origin:0 0;
//    -webkit-transform-origin:0 0;
//  }
//}

#add_ons_header {
  line-height: 20px !important;
  margin-bottom: 15px;
  margin-left: 0;
}

@media only screen and (min-width: 768px) {

  #add_ons .row {
    line-height: 30px;
  }

  #add_ons_header {
    //line-height: 20px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  #add_ons .row {
    padding-left: 45px;
    line-height: 54px;
  }

  #add_ons_frame {
    border-left: solid 1px #eeeeee;
  }
}

@media only screen and (min-width: 1200px) {
  #add_ons .row {
    padding-left: 80px;
  }
}

#payment_form h1 {
  margin: 0 0 10px 0;
}

#cardNumber {
  border-radius: 3px 0 0 3px !important;
}

.credit_card_form .panel-title {display: inline;font-weight: bold;}
.credit_card_form .checkbox .pull-right {
  margin: 0;
}

.credit_card_form .checkbox {
  line-height: 11px;
  margin: 0;
}

.credit_card_form .checkbox label {
  margin: 5px 0 0 -65px;
}
.credit_card_form .pl-ziro { padding-left: 0; }
