@import "variables";

$c1: #9c2484;
//$c2: #567178;
$c2: #637e9c;


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $c1;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $c2;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $c1;
  }
}

//* {
//  box-sizing: border-box;
//}

//body {
//  background: #f9f9f9;
//  padding-bottom: 100px;
//}
//
//h1,h3 {
//  display: block;
//  margin: 0px auto;
//  text-align: center;
//  font-family: 'Tahoma';
//  font-weight: lighter;
//  color: $c1;
//  letter-spacing: 1.5px;
//}
//
//h1 {
//  margin: 50px auto;
//}

@mixin lm {
  position: fixed;
  margin: auto;
  width: 10em;
  height: 10em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin lmd {
  border-radius: 50%;
  padding: 4px;
  border: 3px solid transparent;
  animation: rotate linear 3.5s infinite;
}

@mixin ld{
  height: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 255);
}

.loader-container-2 {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10000;
}

.loader1, .loader2, .loader3, .loader4 {
  @include lm;
}

.loader1 div, .loader2 div, .loader3 div, .loader4 div {
  @include ld;
}

/* loader 1 */
.loader1, .loader1 div{
  @include lmd;
  border-top-color: $c1;
  border-bottom-color: $c2;

}

/*loader 2  */
.loader2, .loader2 div{
  @include lmd;
  border-top-color: $c2;
  border-left-color: $c1;
  border-right-color: $c1;
}



/*loader 3  */
.loader3, .loader3 div{
  @include lmd;
  border-top-color:  $title-text-color-2;
  border-left-color: $primary-button-color;
  animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
  animation-duration: 3s;
}


/* loader 4 */
.loader4, .loader4 div{
  @include lmd;
  border-radius: 50%;
  padding: 4px;
  //animation-timing-function: cubic-bezier(.55, .38, .21, .88);
  //animation-duration: 3s;
  animation: rotate2 3s infinite linear;
}

div:hover {
  animation-play-state: paused;
}

.loader, .loader * {
  will-change: transform;
}