@import "variables";

body{
  color:#667;
  /*font-family:'Ubuntu', Arial, Helvetica, sans-serif;*/
  //font-family: 'Titillium Web', sans-serif;
  font-family: 'Quicksand', sans-serif;
  //font-size:1em;
  line-height:1.4em;
  font-weight:normal;
  margin-bottom: $footer-height; // To account for the footer
}

.blink {
  animation: blink 1.3s steps(2, start) infinite;
  -webkit-animation: blink 1.3s steps(2, start) infinite;
}

@keyframes blink {
  0% {
    color: rgba(0,140,100,1)
  }
  20% {
    color: rgba(0,140,100,0.9)
  }
  30% {
    color: rgba(0,140,100,0.6)
  }
  40% {
    color: rgba(0,140,100,0.4)
  }
  50% {
    color: rgba(0,140,100,0.2)
  }
  60% {
    color: rgba(0,140,100,0.2)
  }
  70% {
    color: rgba(0,140,100,0.4)
  }
  80% {
    color: rgba(0,140,100,0.6)
  }
  90% {
    color: rgba(0,140,100,0.9)
  }
  100% {
    color: rgba(0,140,100,1)
  }
  /*to {*/
  /*visibility: hidden;*/
  /*}*/
}

@-webkit-keyframes blink {
  0% {
    color: rgba(0,140,100,1)
  }
  20% {
    color: rgba(0,140,100,0.9)
  }
  30% {
    color: rgba(0,140,100,0.6)
  }
  40% {
    color: rgba(0,140,100,0.4)
  }
  50% {
    color: rgba(0,140,100,0.2)
  }
  60% {
    color: rgba(0,140,100,0.2)
  }
  70% {
    color: rgba(0,140,100,0.4)
  }
  80% {
    color: rgba(0,140,100,0.6)
  }
  90% {
    color: rgba(0,140,100,0.9)
  }
  100% {
    color: rgba(0,140,100,1)
  }
  //to {
  //  visibility: hidden;
  //}
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Josefin Sans', 'Titillium Web', sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1em;
}

h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.5em;
}

// h1 {
//   //font-size: 2em;

// }

hr {
  margin-top: 7px;
}

.framed img {
  width: 100%;
  padding: 3px;
}

.framed {
  //border: 3px solid white;
  //-webkit-border-radius: 3px;
  //-moz-border-radius: 3px;
  //border-radius: 3px;
  position: relative;;
  //padding: 5px;
}

#close_conversation {
  float: right;
  background: $title-text-color-2;
  border:none;
}

#close_conversation:focus {
  outline:none;
}

// Front Image
.front_image {
  max-width: 1200px;
  overflow: hidden;
  border-radius: 3px;
}

.front_image h1, .front_image hr {
  display: none;
}

.front_image hr {
  border: 1px solid #d5d5d5;
  margin: 0;
}

.front_image ul {
  //display: none;
  font-family: 'Julius Sans One', sans-serif;
  //font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  //font-variant: small-caps;
  letter-spacing: 4px;
  //list-style: none;
  //padding: 15px 0 0 35px;
  margin: 5px auto;
  margin-top:20px;
  width: 270px;
  //font-size: 1.4em;
  color: $title-text-color-1;
  -webkit-padding-start: 25px;
  list-style: none;
}

.front_image ul li {
  padding-bottom: 8px;
  display: none;
}

.front_image .image {
  display: none;
}

.front_image_wrapper {
  position: relative;
  height: auto;
  width: 100%;
  //padding-top: 10px;
}

.service_front_image_wrapper {
  position: relative;
  background-color:$brand-primary;
  border-radius: 5px;
  //width: 100%;
  //height: 272px;
  //padding-top: 10px;
}

.service_front_image {
  position: absolute;
  height: 272px;
  width: 100%;
  display: none;
  border-radius: 5px;
}

.front_image .highlight_summarise {
  font-size: 0.8em;
  font-style: italic;
  color: white;
  display: none;

  padding: 0 5px;

  text-align: center;
  margin-bottom: 10px;
}

//.highlight_summarise {
  //margin-top: 10px;
//}

.front_image .highlight_summarise .message {

  background-color: $main-element-color;

  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius:  15px 0 0 15px;
  border-radius:  15px 0 0 15px;

  padding: 3px 5px 4px 8px;

}

.front_image .highlight {
  height: 165px;
}

.front_image_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  background-color: rgba(255, 255, 255, .1);
  //background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(#496178), to(#2E4960));
}

.service_image_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  border-radius: 5px;
  //background: rgba(89, 104, 166, 0.5);
  //background: rgba(154, 166, 78, 0.7);
  //background: #5b6aa6; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(to right,#5b6aa6, rgba(247, 247, 247, 0.12)); /*Safari 5.1-6*/
  //background: -o-linear-gradient(to right,#5b6aa6, rgba(247, 247, 247, 0.12)); /*Opera 11.1-12*/
  //background: -moz-linear-gradient(to right,#5b6aa6, rgba(247, 247, 247, 0.12)); /*Fx 3.6-15*/
  //background: linear-gradient(to right,#5b6aa6, rgba(247, 247, 247, 0.12));

  background: none;
  border: solid 1px #d5d5d5;

  //background: $brand-info;
}

.highlight_wrapper {
  height: 220px;
}

.old_technology_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //padding: inherit;
  background-color: rgba(255, 255, 255, .4);
  //background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(#496178), to(#2E4960));
}

.highlight_summarise .link {

  background-color: $title-text-color-2;

  -webkit-border-radius:  0 15px 15px 0;
  -moz-border-radius:  0 15px 15px 0;
  border-radius:  0 15px 15px 0;

  padding: 3px 8px 4px 5px;
}

.highlight_summarise a {
  color: white !important;
}

#do-it-right, #old_technology {
  display: none;
}

.justify_text {
  text-align:justify;
}
.prefooter {
  background-color: $prefooter-background;
}

.prefooter #form_error, .prefooter #form_success {
  background-color: white;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
}

.prefooter h2 {
  color:white;
}
/* links */
a,
a:visited,
a:active,
a:hover {
  color:$primary-button-color;
}

a:hover{
  text-decoration:none;
}

/* Box sizing. Awesome thing. Read about it here: http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

/* structure */
.wrapper {
  //width: 92%;
  margin: 0 auto;
}

header {
  padding: 5px 0;
}

#banner{
  text-align:center;
}

#page-header{
  background:#948c8c;
  //background: $page-header-background;

  //border-top:1px solid #e2e2e2;
  //border-bottom:1px solid #e2e2e2;
  padding:4px 0;
}

//#page-header div h1 {
//  padding-left: 15px !important;
//}

//.bg_image {
//  position:fixed;
//  top: 0;
//  left: 0;
//  width:100%;
//  z-index:-1;
//  display:none;
//}

//.bg_image img {
//  width: 100%;
//}
.chat_messages {
  height: 225px;
  overflow: scroll;
  border: solid 1px #ededed;
  border-radius: 5px;
}



@media screen and (min-width: 481px) {
  .chat_messages {
    height: 240px;
  }

  .chat_input {
    //width: 96%;
  }
}

@media screen and (min-width: 1200px) {
  .chat_messages {
    height: 260px;
  }
}

.chat_input {
  //position: fixed;
  //left: 25px;
  //bottom: 50px;
  //width: 95%;
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {

}

.chat_footer {
  background-color: $main-element-color;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
}

.bg_image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url(../images/alion_background.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg_layer {
  background-color: rgba(255, 255, 255, 0.91);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display:none;
}

.call_request_long {
  display: none;
}

.call_request_short {
  display: block;
}

#hero h1{
  line-height:1.2em;
  margin-top:0;
  margin-bottom:10px;
}

#content {
  margin:40px 0;
}

aside {
  margin:40px 0;
}

#request_call_modal h2 {
  color: $title-text-color-1;
}

//p {
//  //margin:0 0 1.5em;
//  padding-bottom:20px;
//}


/* RESPONSIVE IMAGES */
img { max-width:100%; height:auto;}



/*SECONDARY MENU*/
#secondary-navigation{
  margin-bottom:60px;
}
#secondary-navigation ul{
  margin:0;
  padding:0;
}
#secondary-navigation ul li a{
  background:#E6E6E6;
  display:block;
  margin:5px 0;
  padding:10px;
  text-decoration:none;
}
#secondary-navigation ul li a:hover,
#secondary-navigation ul li.current a{
  background: $main-element-color;
  color:#fff;
}


/*FOOTER*/
footer {
  clear:both;
  font-size:80% !important;
  //padding:12px 0;
  /*margin-top: 17px;*/

  /*background-color: orange;*/
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  overflow:hidden;

  background: $footer-background;
  color: #fff !important;
}

footer a,
footer a:hover,
footer a:visited {
  color: white
}


footer ul{
  margin:0;
  padding:0;
}

.footer_content {
  line-height:$footer-height;
}

/*colors and backgrounds*/
body{
  background:#fff;
}

h1, h4 {
  color: $primary-button-color;
}

h2, h3 {
  color: $title-text-color-2;
}

h5, h6{
  color:#333;
}



footer h1, footer h2, footer h3, footer h4{
  color:#CCC;
  //margin-bottom:10px;
}
footer ul{
  //margin:0 0 0 8%;
}

.footer-content {
  line-height: $footer-height;
}

a.buttonlink {
  background: $primary-button-color;
  border-radius:3px;
  color:#fff;
  display:inline-block;
  //margin:10px 15px 10px 0;
  padding:10px 20px;
  text-decoration:none;
}
a.buttonlink:hover{
  background: darken($primary-button-color, 5%);
}

/* Contain floats*/
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after{
  clear: both;
}

.bottom-pad {
  padding-bottom: 20px;
}

.top-pad {
  padding-top: 20px;
}

.bottom-margin {
  margin-bottom:20px !important;
}

.top-margin {
  margin-top:20px;
}

.left-margin {
  margin-left:10px;
}

.right-margin {
  margin-right:10px;
}

#chat-error{
  color: darkred;
  font-size: smaller;
  font-style: italic;
  font-weight: 900;
}

.request-call-section h1 {
  font-family: 'Quicksand', sans-serif;
}
.request-call-section {
  //background-color: #efefef;
  height: 150px;
  display: -webkit-box;
  align-items: center;
  background-color: rgba(206, 206, 206, 0.5);
}

.request-call-link {
  display: flex;
  margin: 0 auto;
  color: $main-element-color
}

.request-call-link h1 span {
  font-weight: 600;
}

.request-call-link h1 span:hover {
  color: $main-element-color !important;
  cursor: pointer;
}


// Card shadow

.card{
  //width: 350px;
  //padding: 30px;
  //background: #1abc9c;
  //margin: auto;
  //border: 1px solid $main-element-color;
  border: 1px solid #e0e0e0;
  border-radius: 11px;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);

  width: 50%;

  &:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
    cursor: pointer;
    .entry-title{
      background-position: -100% 0;
    }
  }
}

.service_card{
  //width: 350px;
  //padding: 30px;
  //background: #1abc9c;
  //margin: auto;
  //border: 1px solid $main-element-color;
  //border: 1px solid #e0e0e0;
  //border-radius: 11px;
  //transition: .3s ease;
  //box-shadow: 0 1px 1px rgba(0,0,0,.3);

  width: 50%;

  //&:hover {
  //  box-shadow: 0 5px 20px rgba(0,0,0,.8);
  //  transform: translateY(-10px) scale(1.02);
  //  cursor: pointer;
  //  .entry-title{
  //    background-position: -100% 0;
  //  }
  //}
}
// Card shadow end


#old_technology {
    //margin-top: 30px;
}

.white-form-text label,
.white-form-text h2 {
  color: white !important;
}

.white-text {
  color: white !important;
}

.first-header {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.centre-in-div {
  display: block;
  margin:  0 auto;
  //width:   80%;
  //height:  200px;
  //padding-bottom:10px;
}


// Useful linnks section
.useful-links {
  font-size:0.85em;
  //border-left: 1px solid #dedede;
  //border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

}

.useful-links a {
  color: $primary-2;
}

.useful-links > div {
  margin: 0 auto;
}
.useful-links div div {
  display:inline;
  line-height:25px;
  margin: 0 auto;
  padding-left:20px
}

// Loader
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loading.gif) center no-repeat #fff;
  background-color: #566781; //#69499c
}


// Request contact form

.modal {
  text-align: center;
}

.modal-dialog {
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  border:none;
}

.modal-footer {
  border:none;
}

.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

/* Alternative Angles */
.modal.fade:not(.in).top-left .modal-dialog {
  -webkit-transform: translate3d(-25%, -25%, 0);
  transform: translate3d(-25%, -25%, 0);
}
.modal.fade:not(.in).top-right .modal-dialog {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform: translate3d(25%, -25%, 0);
}
.modal.fade:not(.in).bottom-left .modal-dialog {
  -webkit-transform: translate3d(-25%, 25%, 0);
  transform: translate3d(-25%, 25%, 0);
}
.modal.fade:not(.in).bottom-right .modal-dialog {
  -webkit-transform: translate3d(25%, 25%, 0);
  transform: translate3d(25%, 25%, 0);
}

// End request contact form

th.dt-center, td.dt-center { text-align: center; }

h2.heading {
  //font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 15px;
  //padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  &.elegantshadow {
    color: white;
    background-color: $page-header-background;
    letter-spacing: .15em;
    //padding-top: 4px;
    //text-shadow:
    //        1px -1px 0 #767676,
    //        -1px 2px 1px #737272,
    //        -2px 4px 1px #767474,
    //        -3px 6px 1px #787777,
    //        -4px 8px 1px #7b7a7a,
    //        -5px 10px 1px #7f7d7d,
    //        -6px 12px 1px #828181,
    //        -7px 14px 1px #868585,
    //        -8px 16px 1px #8b8a89,
    //        -9px 18px 1px #8f8e8d,
    //        -10px 20px 1px #949392,
    //        -11px 22px 1px #999897,
    //        -12px 24px 1px #9e9c9c,
    //        -13px 26px 1px #a3a1a1,
    //        -14px 28px 1px #a8a6a6,
    //        -15px 30px 1px #adabab,
    //        -16px 32px 1px #b2b1b0,
    //        -17px 34px 1px #b7b6b5,
    //        -18px 36px 1px #bcbbba,
    //        -19px 38px 1px #c1bfbf,
    //        -20px 40px 1px #c6c4c4,
    //        -21px 42px 1px #cbc9c8,
    //        -22px 44px 1px #cfcdcd,
    //        -23px 46px 1px #d4d2d1,
    //        -24px 48px 1px #d8d6d5,
    //        -25px 50px 1px #dbdad9,
    //        -26px 52px 1px #dfdddc,
    //        -27px 54px 1px #e2e0df,
    //        -28px 56px 1px #e4e3e2;
  }
  &.deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow:
            0 -1px 0 #fff,
            0 1px 0 #2e2e2e,
            0 2px 0 #2c2c2c,
            0 3px 0 #2a2a2a,
            0 4px 0 #282828,
            0 5px 0 #262626,
            0 6px 0 #242424,
            0 7px 0 #222,
            0 8px 0 #202020,
            0 9px 0 #1e1e1e,
            0 10px 0 #1c1c1c,
            0 11px 0 #1a1a1a,
            0 12px 0 #181818,
            0 13px 0 #161616,
            0 14px 0 #141414,
            0 15px 0 #121212,
            0 22px 30px rgba(0, 0, 0, 0.9);
  }
  &.insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow:
            -1px -1px 1px #111,
            2px 2px 1px #363636;
  }

}

.panel {
  box-shadow:none;
}

.panel-primary {
  border: none;
}

.panel-primary > .panel-heading {
  background-color: $prefooter-background;
  //border-color: $prefooter-background;
  border:  none;
  //border-color: white;
  //border-left: none;
  //border-right: none;
}



.section_title {
  font-family: 'Quicksend', sans-serif;
  // font-family: 'Josefin Sans', sans-serif;
  color: $title-text-color-1;
  letter-spacing: 2px;
  //border: 1px solid lighten($title-text-color-1, 10%);
  //border-radius: 2px;
  //padding: 0 11px;
  //display: inline-block;
  margin: 25px 0 10px 0;

  //text-align: center;
  //text-transform: uppercase;
  //text-shadow: rgba(10, 39, 72, 0.58) 1px 2px 15px;
  //font-variant: small-caps;
}


.social-buttons i {
  color: white;
}





.add_table_button {
  line-height: 0.7em;
  margin-left: 30px;
}

// Legal

//body{margin-top:50px;}
#accordion .glyphicon { margin-right:10px; }
#accordion .panel-body { padding:0; }
#accordion .panel-body table tr td { padding-left: 15px }
#accordion .panel-body .table {margin-bottom: 0; }
#accordion .panel-title {
  font-size: 15px;
}

#accordion .panel-title {
  text-align: center;
}
// End Legal

.panel-default, .panel-heading {
  border-color: #d7d7d7 !important;
}

#accordion .panel-heading {
  color: $primary-button-color !important;
  padding: 5px 15px;
}

#accordion .panel-heading span {
  vertical-align: middle;
  font-variant:small-caps;
  font-size: 18px;
}

.banner {
  background-color: $main-element-color;
  //background-color: $primary-button-color;
  border-radius: 3px;
}

.banner_content {
  padding: 15px 30px;
  color:white;
  font-size: 1.2em;
  text-align: center;
  font-variant: small-caps;
}

.banner_content div div {
  margin: 8px 0;
}

@media only screen and (min-width: 992px) {
  .banner_content div div {
    margin: 0;
  }
}

.banner_content a,
.banner_content a:visited,
.banner_content a:hover,
.banner_content a:active {
  color: white;
}

.signup {
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px 13px;
  font-size: 0.9em;
}


.packages_banner {
//   height: 160px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}

//hr {
//  border-top: 1px solid $main-element-color;
//}

/*
  IPhone 5 width portrait
 */
@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 375px) {

  .front_image .highlight_summarise {
    font-size: 0.9em;
  }
}

/*
LARGER MOBILE DEVICES
This is for mobile devices with a bit larger screens.
*/
@media only screen and (min-width: 481px) {
  #banner{
    float:left;
    text-align:left;
    //margin-bottom:-20px;/*this depends on the height of the logo*/
  }

  .call_request_long {
    display: block;
  }

  .call_request_short {
    display: none;
  }
}

@media only screen and (min-width: 568px) {

  header {
    padding:0 45px;
  }

  h1 {
    font-size: 2em;

  }

  .front_image .image {
    display: block;
  }

  .front_image ul {
    margin-top: 30px;
  }

  .front_image .highlight {
  //.front_image {
    height: 175px;
  }

  .bg_image, .bg_layer {
    display: block;
  }

  #old_technology {
    //display:none;
    //margin-top: 30px;
  }

  #do-it-right {
    display: block;
  }
}

@media screen and (min-width: 768px) {

  .modal-dialog {
    display: inline-block;
  }

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .service_left ul,
  .service_right ul {
    list-style: none;
    width: auto;
    margin: auto;
  }

  .service_image_layer {
  }

  .service_front_image {
    display: block;
  }

  .service_front_image_wrapper {
    height: 272px;
    background-color:none;
  }

  .service_quote_header {
    padding-top: 20px;
    font-size: 28px !important;
  }

  .front_image_wrapper {
    //padding-top: 25px;
  }
}

.service_highlights {
  margin-bottom: 15px !important;
}

/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {

  .wrapper {
    max-width: 1200px;
    overflow:auto;
    /*margin: .75em auto;*/
  }

  .front_image h1, .front_image hr {
    display: block;
  }

  .front_image h1 {
    margin: 25px 0.67em 0 0;
  }

  .front_image .highlight {
  //.front_image {
    height: 230px;
  }

  .highlight_wrapper {
    height: 272px;
  }

  #banner{
    float:left;
    text-align:left;
    margin-bottom:0;
  }
  header {
    padding: 0;
  }
  //#content {
  //  float:left;
  //  width:65%;
  //}
  //#content.wide-content{
  //  float:none;
  //  width:100%;
  //}

  aside {
    float:right;
    width:30%;
  }

  /*GRID*/
  /*
   & Columns : 12

   */
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }

  #old_technology {
    //margin-top: 83px;
  }
}

@media only screen and (min-width: 990px) {

  #old_technology {
    display: block;
  }
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1024px) {



}

@media screen and (min-width: 1200px) {
  .front_image .container {
    padding-right: 0;
    margin-right: 0;
  }

  .front_image_wrapper {
    padding-top: 0;
  }

  .service_front_image, .service_image_layer {
    border-radius: 10px 0 0 10px;
  }

  .service_front_image_wrapper {
    position: relative;
    width: 100%;
    height: 272px;
  }

  .front_image ul {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 4px;
    -webkit-padding-start: 0;
  }

  .front_image hr {
    display: block;
  }

  .front_image {
    background-color: rgba(255,255,255,.65);
  }

  .service_highlights {
    margin-bottom: 0 !important;
  }
}

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {

}





/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {


}

/* Height */

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}

.invoice_table {
  width: 100%;
  border: 1px solid #d7d7d7;
  margin-bottom: 25px;
}

.invoice_table .total_row {
  border-top: solid 1px #d7d7d7;
  background-color: $title-text-color-2;
  color: white;
  font-variant: titling-caps;
}
.invoice_table .total_label {
  text-align: right;
  font-weight: bold;
}
.invoice_table th {
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #d7d7d7;
  padding: 5px;
}

.invoice_header {
  background-color: $main-element-color;
  color: white;
}

.invoice_table td {
  text-align: center;
  padding: 5px;
}

.signup_panel {
  border: solid 1px #d7d7d7;
  border-radius: 3px;
}
.signup_panel .panel-heading {
  border-bottom: solid 1px #d7d7d7;
  background-color: white !important;
  color: $primary-button-color !important;
}

.invoice_item_delete {
  color:darkred;
  float:right;
  margin-right: 10px;
}

.invoice_item_delete:hover {
  color:red;
}

.technologies_slide {
  background-color:rgba(89, 104, 166, 0.55);
  font-size: 3em;
  color: white !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.technologies_slide > div {
//     list-style-type: none;
//     overflow-x: scroll;
//     white-space: nowrap;
    margin-bottom: 0;
    //padding: 10px;
  //width: 100px !important;
}

.service_left,
.service_right {
  list-style: none;
  font-style: italic;
  font-weight:bold;
}

.service_left ul,
.service_right ul {
  list-style: none;
  width: 300px;
  margin: 5px auto;
  margin-bottom: 25px;
}

.service_left ul li i {
  color:green;
}

.service_right ul li i {
  color:green;
}

.service_quote_header {
  width: 100%;
  font-family: 'Unica One', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 65px;
  padding-left: 30px;
  letter-spacing: 2px;
  color: white;
  // color: $brand-info;
}

.service_quote_body {
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  font-variant: all-small-caps;
  padding-left: 30px;
  padding-right: 20px;
  color: white;
  // color: $brand-primary
}

.service_quote_body:last-child {
  padding-bottom: 10px;
}

.service_quote {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  padding: 40px;
  position: absolute;
  color: white;
}

.service_background {
  height: 200px;
}

.service_logo {
  float: right;
}

div#service_container {
  padding-right: 15px;
  margin-right: 15px;
}

/*
PRINT STYLESHEET
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

