@import "variables";

/*
 * Floating menu
 */
.header-wrapper-2 {
  //max-width: 1200px;
  width: 100%;
  z-index: 999;
  position:fixed;
  top:0;
  padding: 0 140px;
  margin: 0 auto;
  //background-color: $primary-1;
  background-color: $floating-menu-background;
  //color: white;
  //background-color: #fff;
  display: none;
  height: $floating-menu-height;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  //box-shadow: 0 8px 6px -6px #999;
  box-shadow: -3px 2px 14px 0px #000;
}

.call-now-2 {
  color: white;
  display: inline-block;
  //margin-top:3px;
  //margin-bottom:3px;
  //margin-left: 1.6em;
  font-size: 1.3em;
  text-decoration: none;
  line-height: $floating-menu-height;
}

.call-now-2 a {
  color: white;
  //display:block;
  //max-width: 1200px;
  //width: 92%;
}


.srt-menu-2{

}

//.srt-menu-2{
//  clear:both;
//  margin-bottom:60px;
//}
//
.srt-menu-2 li a {
  //background:#dadada;
  display:block;
  margin:1px 0;
  padding:0 10px;
  line-height: $floating-menu-height;
  text-decoration:none;
}
//
.srt-menu-2 li a:hover{
  //color: $primary-2;
  // Effect here
}
//
//.srt-menu-2 li li a {
//  background:#e8e8e8;
//  padding-left:40px;
//}
//
//.srt-menu-2 li li li a {
//  background:#efefef;
//  padding-left:80px;
//}



///*
//TABLET & SMALLER LAPTOPS
//The average viewing window and preferred media query for those is 768px.
//But I think that some more breathing space is good:)
//*/
//@media only screen and (min-width: 920px) {
//
//  #menu-main-navigation-2 {
//    display: block;
//  }
//
  .srt-menu-2, .srt-menu-2 * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .srt-menu-2 ul {
    //position: absolute;
    display: none; // do not display submenu
    //width: 15em; /* left offset of submenus need to match (see below) */
  }
  .srt-menu-2 ul li {

  }
  .srt-menu-2 li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
  }

  .srt-menu-2 > li {
    float: left;
    position: relative;
    padding-right: 40px;
    width: 100px;
    //margin-left: 1px;
  }
  .srt-menu-2 li li {
    margin-left: 0;
    height: 35px;
  }

  //.srt-menu-2 a {
  //  display: block;
  //  position: relative;
  //}

  .srt-menu-2 li:hover ul,
  .srt-menu-2 li.sfHover ul {
    display: block;
    left: 0;
    /*top:			45px; !* match top ul list item height *!*/
    z-index: 99;
    -webkit-box-shadow: 2px 3px 2px 0 rgba(00, 00, 00, .3);
    box-shadow: 2px 3px 2px 0 rgba(00, 00, 00, .3);
  }



  //
  //ul.srt-menu-2 li:hover li ul,
  //ul.srt-menu-2 li.sfHover li ul {
  //  top: -999em;
  //}
  //ul.srt-menu-2 li li:hover ul,
  //ul.srt-menu-2 li li.sfHover ul {
  //  left: 12em; /* match ul width */
  //  top: 0;
  //}
  //ul.srt-menu-2 li li:hover li ul,
  //ul.srt-menu-2 li li.sfHover li ul {
  //  top: -999em;
  //}
  //ul.srt-menu-2 li li li:hover ul,
  //ul.srt-menu-2 li li li.sfHover ul {
  //  left: 10em; /* match ul width */
  //  top: 0;
  //}




  #topnav-2, .srt-menu-2 {
    float: right;
    //margin: .8em 0 0 0;
  }
//  .srt-menu-2 a {
//    text-decoration: none;
//  }
//  .srt-menu-2 li a {
//    background: #fff;
//    margin: 0;
//    padding: 5px 20px;
//    /*height:45px;*/
//  }
  .srt-menu-2 a, .srt-menu-2 a:visited, .srt-menu-2 a:active, .srt-menu-2 a:hover { /* visited pseudo selector so IE6 applies text colour*/
    color: white;
  }
  .srt-menu-2 li li a {
    border-top: 1px solid rgba(255, 255, 255, .2);
    background: #333; /*fallback for old IE*/
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding-left: 20px;
    height: auto;
    line-height: 35px;
    white-space: nowrap;
  }

// Color of the visited sub navigator item
//  .srt-menu-2 li li a:visited {
//    color: #fff;
//  }
//  .srt-menu-2 li li li a,
//  .srt-menu-2 li.current * li a {
//    padding-left: 20px;
//    background: rgba(0, 0, 0, .6);
//  }
//
// Effect when hovering over top navigator
//  .srt-menu-2 li:hover > a,
//  .srt-menu-2 li.current a {
//    /*color:#fff;*/
//    /*background:$primary-1;*/
//    clear: both;
//    border: 1px solid $primary-1;
//    -webkit-border-radius: 2px;
//    -moz-border-radius: 2px;
//    border-radius: 2px;
//  }
//
// Effect when hovering over the sub navigator item
//  .srt-menu-2 li.current ul li:hover > a,
//  .srt-menu-2 li.current ul li a {
//    /*color:#fff;*/
//    /*background:$primary-1;*/
//    clear: both;
//    border-top: 1px solid rgba(255, 255, 255, .2);
//    border-bottom: none;
//    border-left: none;
//    border-right: none;
//    -webkit-border-radius: 2px;
//    -moz-border-radius: 2px;
//    border-radius: 2px;
//  }
//
  .srt-menu-2 li li:hover > a {
    color: #fff;
    background: $primary-1;
  }

ul.srt-menu-2 > li > a {
  margin: 0;
}
//
//}

#topnav-2 ul ul {
  padding-left: 0;
  list-style: none;
  width: 195px;
  //z-index: 101;
}

.live_chat_widget_floating_header {
  color:white;
  border: solid 1px white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding: 4px;
  font-size: 0.9em;
  margin-left: 5px;
}

.live_chat_widget_floating_header a,
.live_chat_widget_floating_header a:visited,
.live_chat_widget_floating_header a:active,
.live_chat_widget_floating_header a:hover {
  color: white;
}