@import "variables";

.header_background {
  //background-image: url("images/alion_front_image.jpg");
  border: solid 1px #dedede;
}

.live_chat_widget {
  color:$main-element-color;
  border: solid 1px $main-element-color;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding: 4px;
  font-size: 0.9em;

  float: left;
  top: 0;
  left: 15px;
  position: absolute;

  margin:20px 0 0;
}

.call-now {
  color: $primary-1;
  font-size: 1.2em;
}

/*MAIN MENU*/
.menu-toggle {
  display:block;
  padding: 3px 10px;
  margin:20px 0 0;
  background:transparent;
  color:$main-element-color;
  border: 1px solid $main-element-color;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  //margin-right: 15px;
  cursor:pointer;
  float: right;
  top: 0;
  right: 15px;
  position: absolute;
}

.menu-toggle.toggled-on {
  background:$primary-1;
}

.srt-menu{
  display:none;
}

.srt-menu.toggled-on {
  display:block;
  position:relative;
  z-index:10;
  list-style: none;
  padding-left: 0;
}

.srt-menu{
  clear:both;
  margin-bottom:60px;

}
.srt-menu li a {
  background: transparent;
  display:block;
  margin:1px 0;
  padding:10px;
  text-decoration:none;
}
.srt-menu li a:hover{
  /*background:$primary-1;*/
  /*color:#fff;*/
  border-color: $primary-1;
}
.srt-menu li li a {
  background:#e8e8e8;
  padding-left:40px;
}
.srt-menu li li li a {
  background:#efefef;
  padding-left:80px;
}

// Small Mobile Phones
@media only screen and (min-width: 320px) {
  .call-now {
    display: block;
    text-align: center;
  }
}

/*
LARGER MOBILE DEVICES
This is for mobile devices with a bit larger screens.
*/
@media only screen and (min-width: 481px) {

  //.menu-bars { display:none; }

  .call-now {
    //float:right;
    line-height:$header-height;
  }

  .menu-toggle {/*make menu float right, instead of sitting under the logo*/

    position: relative;
    margin-top: -5px;
    float: right;
    border-radius: 3px;
    top: -8px;
    clear: both;
  }

  .live_chat_widget  {
    top: 39px;
    left: 277px;
  }
}



@media only screen and (min-width: 568px) {
  .live_chat_widget  {
    top: 30px;
  }
}

@media only screen and (min-width: 680px) {

  .menu-toggle {/*make menu float right, instead of sitting under the logo*/
    top: -37px;
    right: -18px;
  }
  .live_chat_widget  {
    top: 0;
    left: 200px
  }
}

@media only screen and (min-width: 920px) {
  .call-now {
    float:right;
  }
}
/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {

  .header-wrapper {
    max-width: 1200px;
    width: 92%;
    margin: 0 auto;
  }

  .call-now {
    display: inline-block;
    line-height: $header-height;
    //float: right;
    padding-left: 15px;
  }

  /*** MAIN MENU - ESSENTIAL STYLES ***/
  .menu-toggle{display:none;}
  #menu-main-navigation{display:block;}

  .srt-menu, .srt-menu * {
    margin:			0;
    padding:		0;
    list-style:		none;
  }
  .srt-menu ul {
    position:		absolute;
    display:none;
    width:			15em; /* left offset of submenus need to match (see below) */
  }
  .srt-menu ul li {
    width:			100%;
  }
  .srt-menu li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
  }
  .srt-menu li {
    float:			left;
    position:		relative;
    margin-left:1px;
  }
  .srt-menu li li {
    margin-left:0;
  }
  .srt-menu a {
    display:		block;
    position:		relative;
  }
  .srt-menu li:hover ul,
  .srt-menu li.sfHover ul {
    display:block;
    left:			0;
    /*top:			45px; !* match top ul list item height *!*/
    z-index:		99;
    -webkit-box-shadow:  2px 3px 2px 0 rgba(00, 00, 00, .3);
    box-shadow:  2px 3px 2px 0 rgba(00, 00, 00, .3);
  }
  ul.srt-menu li:hover li ul,
  ul.srt-menu li.sfHover li ul {
    top:			-999em;
  }
  ul.srt-menu li li:hover ul,
  ul.srt-menu li li.sfHover ul {
    left:			12em; /* match ul width */
    top:			0;
  }
  ul.srt-menu li li:hover li ul,
  ul.srt-menu li li.sfHover li ul {
    top:			-999em;
  }
  ul.srt-menu li li li:hover ul,
  ul.srt-menu li li li.sfHover ul {
    left:			10em; /* match ul width */
    top:			0;
  }

  /*** DEMO1 SKIN ***/
  #topnav, .srt-menu {
    float:right;
    line-height: $header-height;
    //margin: .9em 0 0 0;
  }
  .srt-menu a {
    text-decoration:none;
  }
  .srt-menu li a {
    background: transparent;
    margin:0;
    padding: 0 10px;
    /*height:45px;*/
  }
  .srt-menu a, .srt-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color:			$primary-button-color;
  }
  .srt-menu li li a {
    border-top:		1px solid rgba(255,255,255,.2);
    background:		#333; /*fallback for old IE*/
    background:rgba(0,0,0,.6);
    color:	#fff;
    padding-left:20px;
    height:auto;
  }
  .srt-menu li li a:visited{color:#fff;}
  .srt-menu li li li a,
  .srt-menu li.current * li a{
    padding-left:20px;
    background:rgba(0,0,0,.6);
  }

  .srt-menu li:hover > a,
  .srt-menu li.current > a{
    color: $primary-2;
    /*background:$primary-1;*/
    clear: both;
    //border: 1px solid $primary-1;
    //-webkit-border-radius: 2px;
    //-moz-border-radius: 2px;
    //border-radius: 2px;
  }

  .srt-menu li.current ul li:hover > a,
  .srt-menu li.current ul li a{
    /*color:#fff;*/
    /*background:$primary-1;*/
    clear: both;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: none;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .srt-menu li li:hover > a{
    color:#fff;
    background:$main-element-color;
  }
}

@media only screen and (min-width: 980px) {
  .srt-menu li a {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1020px) {
  .live_chat_widget {
    position: relative;
    top: auto;
    left:auto;
  }
}

#topnav ul ul {
  padding-left: 0;
  list-style: none;
  z-index: 100;
  line-height: 35px;
}

.srt-menu {
  //font-family: 'Julius Sans One', sans-serif;
}
